$fontwebPage: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial,' 'sans-serif';
$dobyBackground: #9c9a9a;
$basicColorWhite: #fff;
$basicColorOrange: orange;
$basicColorBlack: #000;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontwebPage;
  }
  
  body {
    height: 100vh;
    background-color: $dobyBackground;
    /* background-image: url("../style/assets/audi_photo_1.jpg"); */
    background-size: cover;
    background-position: center;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: $basicColorWhite;
    font-size: 1rem;
  }
  
  a:hover {
    color: $basicColorOrange;
  }
  
  /* HEADER */
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .links {
      display: flex;
      gap: 2rem;
    }
    
    .logo a {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .toggle_btn {
      color: $basicColorWhite;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
    
    .action_btn {
      background-color: $basicColorOrange;
      color: $basicColorWhite;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      transition: scale 0.2 ease;
      
      &:hover {
        scale: 1.05;
        color: $basicColorWhite;
      }
      
      &:active {
        scale: 0.95;
      }
    }
  }
  
  /* DROPDOWN MENU */
  .dropDown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: $basicColorBlack;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    &.open {
      height: 240px;
    }
    
    li {
      padding: 0.7rem ;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .action_btn {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  /* SECTION MAIN */
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
  }
  
  .sectionContainer {
    background-color: $basicColorWhite;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    
    .title {
      color: $basicColorBlack;
      padding: 0.5rem 1rem;
      outline: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;;
      transition: scale 0.2 ease;
    }
    
    .descriptionContent {
      text-align: justify;
      padding-bottom: 20px;
    }
    
    .imageGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      grid-auto-rows: minmax(200px, auto);
    }
    
    .containerImage {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-image: url('https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/wp-content/uploads/2018/01/An-Ode-to-the-RS3-inline3-626x382.jpg?crop=1.00xw:0.819xh;0,0.103xh&resize=640:*');
    }
    
    .container_image {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
    }
    transition: all 0.3s ease-in-out;
    &:hover{
      transform: translateY(-5px);
    }
  }
  footer{
    display: flex;
    justify-content: center;
    
  }
  .insertInfo{
    width: 500px;
    border-start-end-radius: 10px;
    border-start-start-radius:10px ;
    text-align: center;
    display: block;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: darken(#333, 10%);
      transform: translateY(-5px);
    }
  }
  .insertInfo p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
  }
  
  /* ENGINI */
  .image_engine {
    background-image: url('../assets/engine_1.jpg');
  }
  
  .image_engine2 {
    background-image: url('../assets/engine_2.jpg');
  }
  
  .image_engine3 {
    background-image: url('../assets/engine_3.jpg');
  }
  
  /* LIGTHS */
  .image_ligth {
    background-image: url('../assets/ligth_1.jpg');
  }
  
  .image_ligth2 {
    background-image: url('../assets/ligth_2.jpg');
  }
  
  .image_ligth3 {
    background-image: url('../assets/ligth_3.jpg');
  }
  
  /* WHEELS_AND_RIMS */
  .wheel_image {
    background-image: url('../assets/wheel_1.jpg');
  }
  
  .wheel_image_2 {
    background-image: url('../assets/wheel_2.jpg');
  }
  
  .wheel_image_3 {
    background-image: url('../assets/wheel_3.jpg');
  }
  
  /* COLORS */
  .colors_image {
    background-image: url('../assets/car_1.jpg');
  }
  
  .colors_image_2 {
    background-image: url('../assets/car_2.jpg');
  }
  
  .colors_image_3 {
    background-image: url('../assets/car_3.jpg');
  }
  
  /* FORM WEB PAGE */
  #header {
    padding: 20px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1 {
      color: $basicColorWhite;
      font-size: 20px;
    }
  }
  
  .containerNext {
    padding: 20px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
    a {
      color: $basicColorWhite;
      text-decoration: none;
      font-size: 20px;
    }
  }
  
  form {
    max-width: 100%;
    margin: 20px auto;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: $basicColorWhite;
  }
  
  input, textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #d4d3d3;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 15px
  }  
  